[include mainsail.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include klipper-backup.cfg]
[include adaptive_purge.cfg]

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION
# DON'T NEED OR WANT TO USE SOMETHING, DON'T USE (UNCOMMENT) IT

# Configs and menu for the stock lcd screen.
[include options/lcd/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the stock probe and uncomment the eddy, then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg (don't forget the bottom 'SAVE_CONFIG' block)
#[include options/probe/stock.cfg] # Stock probe, default
[include options/probe/eddy.cfg] # BTT Eddy probe

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD6054747363037781857-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_50FF6E068367515547161367-if00
restart_method: command      

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 40000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 20.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 5
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035    
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

#[filament_switch_sensor filament_sensor]
#pause_on_runout: True
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: PE9

[filament_switch_sensor filament_sensor]
pause_on_runout: True
runout_gcode:
  # G1 E10 F1500
  # G1 E-100 F1500
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted
event_delay: 3.0
pause_delay: 0.5
debounce_delay: 1.0
switch_pin: ^PE9

[filament_motion_sensor encoder_sensor]
detection_length: 6.0
extruder: extruder
switch_pin: ^PE12
pause_on_runout: True
runout_gcode:
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted
event_delay: 3.0
pause_delay: 0.5

#[thermistor my_thermistor]
#temperature1:25
#resistance1:100000
#temperature2:50
#resistance2:18085.4
#temperature3:100
#resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: NTC 100K MGB18-104F39050L32  # R3men Graphite Heat Bed
#sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 0                               # R3men Graphite Heat Bed
#min_temp: 5
max_temp: 130                             # R3men Graphite Heat Bed
#max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

# PLEASE REMOVE THIS WHEN USING EDDY
#[probe]
#z_offset: 0.220

#[probe_pressure]
#pin: ^!PE14
#x_offset: 0                  
#y_offset: 0
#z_offset : 0
#speed: 1.0

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320 #36,300 #36,320
	346,320 #346,300 #346,320
	346,10
speed: 150 #400                   
horizontal_move_z: 2  # old 10       
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 30   

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

[fan_generic filter_fan] # exhaust fan
pin: PA6
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
#[controller_fan MCU_fan]
#pin: PA1
#max_power: 1
#kick_start_time: 0.5
#fan_speed: 1
#idle_timeout: 300
#heater: extruder, heater_bed
#stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
[temperature_fan MCU_fan]
pin: PA1
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 55
sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
max_speed: 1.0
min_speed: 0.1
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 10800


[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

#[temperature_sensor Host_temp]     
#sensor_type: temperature_host
#min_temp: 0
#max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35       

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

# Want to use a thermistor in your enclosure? You can use a RPi Pico with a BME280.
# Read the guide at /pico-thermistor/ on how to do this. Once ready you can uncomment the cfg below.
[include options/thermistor/pico.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.765
#*# pid_ki = 3.205
#*# pid_kd = 73.835
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.570
#*# pid_ki = 0.650
#*# pid_kd = 730.338
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 50.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.2
#*#
#*# [bed_mesh old bed]
#*# version = 1
#*# points =
#*# 	-0.033750, -0.231562, -0.347812, -0.391875, -0.410625, -0.393750, -0.343125, -0.275625, -0.172500
#*# 	-0.022500, -0.174375, -0.266250, -0.340312, -0.349687, -0.326250, -0.270937, -0.201562, -0.144375
#*# 	0.129375, -0.047812, -0.162187, -0.230625, -0.262500, -0.242812, -0.195937, -0.134062, -0.074062
#*# 	0.248438, 0.049688, -0.076875, -0.153750, -0.188437, -0.168750, -0.120937, -0.056250, 0.019688
#*# 	0.407813, 0.191250, 0.053438, -0.034687, -0.073125, -0.053437, -0.008437, 0.051563, 0.131250
#*# 	0.500625, 0.300938, 0.155625, 0.066563, 0.031875, 0.041250, 0.072188, 0.136875, 0.216563
#*# 	0.630000, 0.417188, 0.273750, 0.174375, 0.110625, 0.105938, 0.148125, 0.208125, 0.299063
#*# 	0.780000, 0.559688, 0.396563, 0.303750, 0.242813, 0.250313, 0.295313, 0.360000, 0.471563
#*# 	0.963750, 0.697500, 0.531563, 0.415313, 0.357188, 0.360938, 0.403125, 0.479063, 0.595313
#*# min_x = 15.0
#*# max_x = 329.96
#*# min_y = 15.0
#*# max_y = 329.96
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.427920, 0.403195, 0.373916, 0.355291, 0.331580, 0.321070, 0.314745, 0.305134, 0.308999, 0.321448, 0.333869, 0.362826, 0.388501, 0.406155, 0.421296
#*# 	0.411336, 0.371290, 0.363203, 0.341848, 0.324325, 0.304962, 0.296074, 0.295690, 0.297631, 0.308999, 0.323574, 0.350004, 0.387761, 0.411337, 0.424062
#*# 	0.373544, 0.365662, 0.348681, 0.335578, 0.320692, 0.303995, 0.303029, 0.290279, 0.296661, 0.307653, 0.322030, 0.345828, 0.378985, 0.413186, 0.419642
#*# 	0.373546, 0.355292, 0.335202, 0.327581, 0.312646, 0.298393, 0.287573, 0.289689, 0.288927, 0.304373, 0.313611, 0.334247, 0.366979, 0.387393, 0.391304
#*# 	0.324911, 0.319354, 0.313029, 0.307270, 0.289900, 0.276877, 0.273170, 0.257920, 0.262629, 0.271213, 0.289900, 0.311100, 0.335572, 0.352649, 0.367719
#*# 	0.328909, 0.297631, 0.291253, 0.288545, 0.272405, 0.264596, 0.252430, 0.251055, 0.261855, 0.262628, 0.284472, 0.306686, 0.332161, 0.346403, 0.357930
#*# 	0.300330, 0.293749, 0.287948, 0.280953, 0.267714, 0.260275, 0.245722, 0.239040, 0.253026, 0.262627, 0.278238, 0.306307, 0.333666, 0.348102, 0.369235
#*# 	0.321070, 0.299361, 0.280191, 0.280573, 0.266347, 0.261859, 0.247314, 0.247313, 0.251655, 0.270829, 0.276872, 0.310722, 0.323950, 0.336534, 0.349052
#*# 	0.289516, 0.290663, 0.284860, 0.279809, 0.269079, 0.263612, 0.257533, 0.251655, 0.255175, 0.265963, 0.287744, 0.295311, 0.319732, 0.339185, 0.365293
#*# 	0.296448, 0.282909, 0.277089, 0.274534, 0.265747, 0.251655, 0.248301, 0.249678, 0.258902, 0.270442, 0.281547, 0.294544, 0.311100, 0.326996, 0.345452
#*# 	0.311100, 0.316293, 0.298601, 0.296830, 0.278618, 0.275508, 0.263612, 0.260660, 0.264980, 0.277089, 0.287573, 0.301673, 0.319354, 0.340507, 0.364349
#*# 	0.356227, 0.325666, 0.310341, 0.297631, 0.292607, 0.279809, 0.271808, 0.272402, 0.276490, 0.281932, 0.291043, 0.308412, 0.327001, 0.350378, 0.367722
#*# 	0.375795, 0.370921, 0.352274, 0.334619, 0.316296, 0.315126, 0.299952, 0.300709, 0.308029, 0.308999, 0.320314, 0.342222, 0.372235, 0.389999, 0.421488
#*# 	0.403935, 0.364349, 0.346605, 0.330625, 0.311307, 0.303995, 0.298393, 0.289308, 0.301680, 0.308030, 0.310341, 0.338239, 0.361138, 0.386826, 0.410603
#*# 	0.464761, 0.435812, 0.403372, 0.386258, 0.360762, 0.341098, 0.322028, 0.320692, 0.332333, 0.337858, 0.345075, 0.363028, 0.393906, 0.426271, 0.448594
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 15.0
#*# max_x = 334.90000000000003
#*# min_y = 18.0
#*# max_y = 334.95999999999987
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_version = 5
#*# calibrated_drive_currents = 16
#*# reg_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUHrRLMUITfg/zOLB4KyG/T+b2hkCJ7rmPwEpNPAd5eU/KrPaNiQ9hD+VFdVWaHrov7WLGbJNWtM/3UJGeIEH9D8HBvAkNLimv4Y1tIx1pOC/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQsq27+1GdlD5g9W+SDPuUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQ0RfLXgSCGkDqTEKvlSAJQHROxNCanPk/nYJiNpbp/T/MpJTbg6vxP49NSUVtPgbAZYxJhFN12L8SmtT7ahIUQPn+og0wHu0/0poNbEqE/r+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEKjd65Nx95Q+mX5XJDEOlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1Aa4DNldOCUPr7A7uQw7iQ+4rNXQXAaFb6dHQKanPUDPqFpn7XKDPW9RyQwZ2wQ+L1KwofKPCoDPmAm1cgwzqw9S3SNzrhv671s/D5upJnJPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAADY3FCtlT4m+JsXgvsTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc+la1Q3NgAAEdALf+aCuqqBWWMB2ZfcmFuZ2WUXZQoR0FIURchquAAR0FI1jupAsAAZYwCZGOUSxB1Lg==
