[include mainsail.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include klipper-backup.cfg]
[include adaptive_purge.cfg]

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION
# DON'T NEED OR WANT TO USE SOMETHING, DON'T USE (UNCOMMENT) IT

# Configs and menu for the stock lcd screen.
[include options/lcd/*.cfg]

#[include mmu/base/*.cfg]
#[include mmu/optional/client_macros.cfg]
#[include mmu/addons/blobifier.cfg]
#[include mmu/addons/mmu_erec_cutter.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD6054747363037781857-if00
restart_method: command     

[include sht36v3.cfg]
#[include original-printhead.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 40000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 20.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

#[filament_switch_sensor filament_sensor]
#pause_on_runout: True
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: PE9

[filament_switch_sensor filament_sensor]
pause_on_runout: True
runout_gcode:
  # G1 E10 F1500
  # G1 E-100 F1500
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted
event_delay: 3.0
pause_delay: 0.5
debounce_delay: 1.0
switch_pin: ^PE9

[filament_motion_sensor encoder_sensor]
detection_length: 6.0
extruder: extruder
switch_pin: ^PE12
pause_on_runout: True
runout_gcode:
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted
event_delay: 3.0
pause_delay: 0.5

#[thermistor my_thermistor]
#temperature1:25
#resistance1:100000
#temperature2:50
#resistance2:18085.4
#temperature3:100
#resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: NTC 100K MGB18-104F39050L32  # R3men Graphite Heat Bed
#sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 0                               # R3men Graphite Heat Bed
#min_temp: 5
max_temp: 130                             # R3men Graphite Heat Bed
#max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

# PLEASE REMOVE THIS WHEN USING EDDY
#[probe]
#z_offset: 0.220

#[probe_pressure]
#pin: ^!PE14
#x_offset: 0                  
#y_offset: 0
#z_offset : 0
#speed: 1.0  

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

[fan_generic filter_fan] # exhaust fan
pin: PA6
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
#[controller_fan MCU_fan]
#pin: PA1
#max_power: 1
#kick_start_time: 0.5
#fan_speed: 1
#idle_timeout: 300
#heater: extruder, heater_bed
#stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
[temperature_fan MCU_fan]
pin: PA1
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 55
sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
max_speed: 1.0
min_speed: 0.1
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 10800

#[temperature_sensor mcu_temp]         
#sensor_type: temperature_mcu
#min_temp:0
#max_temp:100

#[temperature_sensor Host_temp]     
#sensor_type: temperature_host
#min_temp: 0
#max_temp: 110

[pause_resume]

[exclude_object]

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35       

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

# Want to use a thermistor in your enclosure? You can use a RPi Pico with a BME280.
# Read the guide at /pico-thermistor/ on how to do this. Once ready you can uncomment the cfg below.
[include options/thermistor/pico.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.369
#*# pid_ki = 2.253
#*# pid_kd = 83.135
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.432
#*# pid_ki = 0.885
#*# pid_kd = 532.590
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 57.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 43.4
#*#
#*# [bed_mesh old bed]
#*# version = 1
#*# points =
#*# 	-0.033750, -0.231562, -0.347812, -0.391875, -0.410625, -0.393750, -0.343125, -0.275625, -0.172500
#*# 	-0.022500, -0.174375, -0.266250, -0.340312, -0.349687, -0.326250, -0.270937, -0.201562, -0.144375
#*# 	0.129375, -0.047812, -0.162187, -0.230625, -0.262500, -0.242812, -0.195937, -0.134062, -0.074062
#*# 	0.248438, 0.049688, -0.076875, -0.153750, -0.188437, -0.168750, -0.120937, -0.056250, 0.019688
#*# 	0.407813, 0.191250, 0.053438, -0.034687, -0.073125, -0.053437, -0.008437, 0.051563, 0.131250
#*# 	0.500625, 0.300938, 0.155625, 0.066563, 0.031875, 0.041250, 0.072188, 0.136875, 0.216563
#*# 	0.630000, 0.417188, 0.273750, 0.174375, 0.110625, 0.105938, 0.148125, 0.208125, 0.299063
#*# 	0.780000, 0.559688, 0.396563, 0.303750, 0.242813, 0.250313, 0.295313, 0.360000, 0.471563
#*# 	0.963750, 0.697500, 0.531563, 0.415313, 0.357188, 0.360938, 0.403125, 0.479063, 0.595313
#*# min_x = 15.0
#*# max_x = 329.96
#*# min_y = 15.0
#*# max_y = 329.96
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.269682, 0.262997, 0.207757, 0.187342, 0.164009, 0.148610, 0.137688, 0.124977, 0.116312, 0.119087, 0.146630, 0.167364, 0.200558, 0.220839, 0.226527
#*# 	  0.204773, 0.191915, 0.172206, 0.157857, 0.135846, 0.119087, 0.111627, 0.102724, 0.096453, 0.109526, 0.127308, 0.148610, 0.181239, 0.203260, 0.192039
#*# 	  0.160165, 0.177753, 0.162472, 0.143876, 0.123421, 0.109526, 0.108743, 0.104291, 0.105858, 0.115626, 0.133519, 0.151697, 0.180475, 0.212015, 0.232734
#*# 	  0.164775, 0.160935, 0.144311, 0.131191, 0.113189, 0.105858, 0.102724, 0.103508, 0.108988, 0.117529, 0.134295, 0.148610, 0.174694, 0.201317, 0.202927
#*# 	  0.135604, 0.151697, 0.137397, 0.124977, 0.117090, 0.105075, 0.104291, 0.101157, 0.109770, 0.116312, 0.133519, 0.149382, 0.171199, 0.194958, 0.222109
#*# 	  0.130414, 0.129638, 0.119526, 0.115531, 0.103508, 0.098806, 0.093310, 0.094882, 0.098023, 0.110551, 0.124977, 0.147403, 0.171199, 0.197520, 0.205959
#*# 	  0.104291, 0.130414, 0.125755, 0.122642, 0.108205, 0.103508, 0.099590, 0.102724, 0.113970, 0.121863, 0.140253, 0.162472, 0.192676, 0.216549, 0.242483
#*# 	  0.124977, 0.130414, 0.122642, 0.116312, 0.111627, 0.114751, 0.108988, 0.111627, 0.118746, 0.135846, 0.153235, 0.177417, 0.207474, 0.232734, 0.239484
#*# 	  0.118305, 0.143538, 0.137397, 0.133519, 0.135071, 0.139479, 0.135846, 0.135846, 0.143102, 0.157857, 0.178182, 0.199799, 0.228977, 0.256206, 0.279080
#*# 	  0.144311, 0.151697, 0.148175, 0.143102, 0.144649, 0.145520, 0.145858, 0.150925, 0.159396, 0.174692, 0.196000, 0.221076, 0.251459, 0.277600, 0.289271
#*# 	  0.141556, 0.172206, 0.169666, 0.166313, 0.163241, 0.160165, 0.162472, 0.170432, 0.184293, 0.199799, 0.219568, 0.245477, 0.275617, 0.305720, 0.340026
#*# 	  0.209743, 0.211259, 0.205201, 0.204443, 0.200984, 0.197946, 0.199891, 0.208231, 0.224091, 0.243232, 0.262253, 0.285172, 0.313864, 0.344056, 0.358513
#*# 	  0.237238, 0.268198, 0.257369, 0.251726, 0.247482, 0.242483, 0.236488, 0.246972, 0.264484, 0.281891, 0.301053, 0.324088, 0.352014, 0.381116, 0.418057
#*# 	  0.296639, 0.298110, 0.289276, 0.283693, 0.283693, 0.275379, 0.266713, 0.276357, 0.295169, 0.313864, 0.333087, 0.360204, 0.394303, 0.420885, 0.440531
#*# 	  0.326761, 0.342606, 0.324088, 0.320442, 0.312722, 0.305955, 0.294433, 0.302522, 0.320442, 0.339707, 0.358763, 0.385175, 0.419469, 0.452832, 0.480294
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 20.0
#*# max_x = 335.0
#*# min_y = 24.0
#*# max_y = 319.95999999999987
#*#
#*# [probe_eddy_ng eddy_probe]
#*# calibrated_drive_currents = 15, 14
#*# calibration_version = 5
#*# reg_drive_current = 14
#*# tap_drive_current = 15
#*# calibration_15 = gASV6gIAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUOgWE0zjEfk/hbjMJx4dAED6LoWYYLnnP575k8mKr90/LO7scI/Jib8sL5iGYUjXv+qDrd9RONA/VJD7+JUb5D+rYagX2Syxv3PxqVgNz9C/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQHzdMvnBhjj6ew7+4jQGPPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUTowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DLtlgHftCOPone48v/2yE+amh4f2IgDb5CqWWUtIH4Pf+5LKslF+29MnGFG30i7L1YS1aGrwzyPTBhIyMDYOM9gcBYbFP33L3WX7/nGu/GvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQQBAmC0ywTD8mtLBVOdsTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/TLBMCyYQQEdAFFfWjsA25mWMB2ZfcmFuZ2WUXZQoR0FQgnDTR4wAR0FQ2lQR6ZgAZYwCZGOUSw91Lg==
#*# calibration_14 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUHvo3V7Hy/o/RIg2qe6UAEBpZ2ZRHiLmP2gQwDCgVNM/ebDl16GaqL9qnN3BRRywP5QSi1elrdA/XdIaqGoOwD9acOnIkwe1v++x6LHptbG/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQGnS8MfdTjj6cIamD+NyOPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQQpNi4BbVG0BAl7SxyEAMQGXGkGGi0Po/hGpl/9Bp7z/iGD4VD+nqPylTD2PaEeU/75/pH+x92L/vzV9dm8Liv9VdzgE+0+Q/R2pmir7+5D+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEMZ5aqK31o4+2GkVwyoHjz6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BWeiMHeLCOPg0zVpBe7R8+10pLwV2HB77RxO6jeX7rPVZab98AgPC9+0jyZdOQlT27zY2TzaH6PYxBqAsV4eK9UaSUPIoD5r0H8WNk61nSPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQhMY8Z9/ZcD9me6WfOPoTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/cNnfZzzGhEdALf/PIqroW2WMB2ZfcmFuZ2WUXZQoR0FQgFBki+gAR0FQ4dDvzOQAZYwCZGOUSw51Lg==
