#####################################################################
#      Master ID Configuration
#####################################################################
[mcu toolhead]  
canbus_uuid:dce929b420c5

#####################################################################
#      Temperature monitoring
#####################################################################
[temperature_sensor toolhead]
sensor_type: temperature_mcu
sensor_mcu: toolhead

#####################################################################
#      Accelerometer
#####################################################################
[lis2dw]
cs_pin: toolhead:gpio12
spi_bus:spi0_gpio4_gpio3_gpio2
#spi_software_sclk_pin: toolhead:gpio2
#spi_software_mosi_pin: toolhead:gpio3
#spi_software_miso_pin: toolhead:gpio4
#--------------------------------------------------------------------
[resonance_tester]
accel_chip: lis2dw
probe_points: 175, 175, 30
# Somewhere slightly above the middle of your print bed
min_freq: 5
max_freq: 133
accel_per_hz: 75
hz_per_sec: 1 

#####################################################################
# LEDS
#####################################################################
[neopixel nozzle_led]
pin: toolhead:gpio26
chain_count: 2
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 1

#####################################################################
#      Extruder thermal sensitivity
#####################################################################
## Please select the type of thermocouple you want to use.
## 请根据你想要使用的热敏选择
[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
## Type of sensor - common thermistors are (Generic 3950, ATC Semitec 104GT-2)
## 传感器类型-常见的热敏电阻器是 (Generic 3950, ATC Semitec 104GT-2)

step_pin:toolhead:gpio7
dir_pin:toolhead:gpio6
enable_pin: !toolhead:gpio14
sensor_type:my_thermistor_e
sensor_pin:toolhead:gpio27
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point #Bondtech 5mm Drive Gears AfterBurner
##  34.37086 for Bondtech 8mm gears (Galileo
##  rotation_distance: 4.637 for Orbiter 2.0
rotation_distance: 4.637
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
##  Orbiter motor LDO-36STH20-1004AHG(XH)
gear_ratio: 7:1               
microsteps:16
filament_diameter: 1.750
nozzle_diameter: 0.400
full_steps_per_rotation: 200   
heater_pin:toolhead:gpio23
min_temp:-200 #0
max_temp:305
max_power:1.0
min_extrude_temp:-50 #175
pressure_advance: 0.025
pressure_advance_smooth_time: 0.035
max_extrude_only_distance: 500
max_extrude_only_velocity: 120 # <- for orbiter motor LDO-36STH20-1004AHG(XH)
max_extrude_only_accel:    800 # <- for orbiter motor LDO-36STH20-1004AHG(XH)

#喷嘴温度PID校准命令: "PID_CALIBRATE HEATER=extruder TARGET=245
#control:watermark
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721

###------------------------------------------------------------------
[tmc2209 extruder]
uart_pin:toolhead:gpio15
interpolate:False
run_current: 0.85
#hold_current: 0.100
sense_resistor: 0.110 
stealthchop_threshold: 0
#driver_TBL: 0 # I'm not sure why these are in the default from the orbiter project but I have them commented out.
#driver_HEND: 6
#driver_HSTRT: 7
#driver_TOFF: 4

###------------------------------------------------------------------
[verify_heater extruder]
max_error: 120
check_gain_time:30
hysteresis: 5
heating_gain: 2

#####################################################################
#      FAN
#####################################################################
[fan]
pin:toolhead:gpio13

[heater_fan hotend_fan]
pin: toolhead:gpio21
heater: extruder
heater_temp: 50.0
kick_start_time: 0.5
max_power: 1.0

#####################################################################
#      Filament Sensors
#####################################################################
[filament_switch_sensor extruder_filament_sensor]
pause_on_runout: True
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 3.0
pause_delay: 0.5
debounce_delay: 1.0
switch_pin: toolhead:gpio16

[filament_switch_sensor mmx_filament_sensor]
pause_on_runout: True
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 3.0
pause_delay: 0.5
debounce_delay: 1.0
switch_pin: ^toolhead:gpio22

#[filament_switch_sensor end_stop_sensor]
#pause_on_runout: True
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#event_delay: 3.0
#pause_delay: 0.5
#debounce_delay: 1.0
#switch_pin: ^toolhead:gpio20

#####################################################################
#      Eddy Probe
#####################################################################
[probe_eddy_ng eddy_probe]
sensor_type: mellow_fly #ldc1612
i2c_address: 43
i2c_mcu: toolhead
i2c_bus: i2c1e
x_offset: 2.5     #Remember to set x offset
y_offset: 23.8 #Remember to set y offset 
#z_offset: 2.5
#descend_z: 2.5  #Remember to set descend_z offset
i2c_speed: 4000000
#reg_drive_current: 16
#tap_drive_current: 16

[temperature_probe eddy_probe]
sensor_type: Generic 3950
sensor_pin:toolhead:gpio28
horizontal_move_z: 2.5

[bed_mesh]
speed: 150 #500
horizontal_move_z: 2.0
mesh_min: 15,18 # 19,18 # These min/max points are with the above linked Eddy mount on the stock toolhead.
mesh_max: 335,335 # 335,308
probe_count: 15,15 # 25,25 # Set to a lower 15,15 default as it appears a too high probe_count (too dense mesh) is bad with rapid_scan, see: https://www.klipper3d.org/Bed_Mesh.html#rapid-continuous-scanning
algorithm: bicubic
bicubic_tension: 0.5
split_delta_z: 0.0125 # see: https://www.klipper3d.org/Bed_Mesh.html#move-splitting
mesh_pps: 3,3
adaptive_margin: 5
fade_start: 1
fade_end: 10
fade_target: 0
#scan_overshoot: 5  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.

# COMMENTED FOR REFERENCE, WE NOW USE HOMING OVERRIDE BELOW
[safe_z_home]
home_xy_position: 175, 175
z_hop: 10
z_hop_speed: 25
speed: 200