#####################################################################
#      Master ID Configuration
#####################################################################
[mcu SHT36]  
canbus_uuid:dce929b420c5

#####################################################################
#      Temperature monitoring
#####################################################################
[temperature_sensor SHT36]
sensor_type: temperature_mcu
sensor_mcu: SHT36

#####################################################################
#      Accelerometer
#####################################################################
## https://www.klipper3d.org/Measuring_Resonances.html?h=adxl#adxl345
## 建议使用spi_bus,此配置可以同时使用31865与加速度计
[lis2dw]
cs_pin: SHT36:gpio12
spi_bus:spi0_gpio4_gpio3_gpio2
#spi_software_sclk_pin: SHT36:gpio2
#spi_software_mosi_pin: SHT36:gpio3
#spi_software_miso_pin: SHT36:gpio4
#--------------------------------------------------------------------
[resonance_tester]
accel_chip: lis2dw
probe_points: 150, 150, 20
# Somewhere slightly above the middle of your print bed
min_freq: 5
max_freq: 133
accel_per_hz: 75
hz_per_sec: 1 

#####################################################################
# LEDS
#####################################################################
[neopixel nozzle_led]
pin: SHT36:gpio26
chain_count: 2
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 1

#####################################################################
#      Extruder thermal sensitivity
#####################################################################
## Please select the type of thermocouple you want to use.
## 请根据你想要使用的热敏选择
[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
## Type of sensor - common thermistors are (Generic 3950, ATC Semitec 104GT-2)
## 传感器类型-常见的热敏电阻器是 (Generic 3950, ATC Semitec 104GT-2)

step_pin:SHT36:gpio7
dir_pin:SHT36:gpio6
enable_pin: !SHT36:gpio14
sensor_type:my_thermistor_e
sensor_pin:SHT36:gpio27
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point #Bondtech 5mm Drive Gears AfterBurner
##  34.37086 for Bondtech 8mm gears (Galileo
##  rotation_distance: 4.637 for Orbiter 2.0
rotation_distance: 4.637
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
##  Orbiter motor LDO-36STH20-1004AHG(XH)
gear_ratio: 7:1               
microsteps:16
filament_diameter: 1.750
nozzle_diameter: 0.400
full_steps_per_rotation: 200   
heater_pin:SHT36:gpio23
min_temp:-200 #0
max_temp:305
max_power:1.0
min_extrude_temp:-50 #175
pressure_advance: 0.025
pressure_advance_smooth_time: 0.035
max_extrude_only_distance: 500
max_extrude_only_velocity: 120 # <- for orbiter motor LDO-36STH20-1004AHG(XH)
max_extrude_only_accel:    800 # <- for orbiter motor LDO-36STH20-1004AHG(XH)

#喷嘴温度PID校准命令: "PID_CALIBRATE HEATER=extruder TARGET=245
#control:watermark
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721

###------------------------------------------------------------------
[tmc2209 extruder]
uart_pin:SHT36:gpio15
interpolate:False
run_current: 0.85
#hold_current: 0.100
sense_resistor: 0.110 
stealthchop_threshold: 0
#driver_TBL: 0 # I'm not sure why these are in the default from the orbiter project but I have them commented out.
#driver_HEND: 6
#driver_HSTRT: 7
#driver_TOFF: 4

###------------------------------------------------------------------
[verify_heater extruder]
max_error: 120
check_gain_time:30
hysteresis: 5
heating_gain: 2

#####################################################################
#      FAN
#####################################################################
[fan]
pin:SHT36:gpio13

[heater_fan my_hotend_fan]
pin: SHT36:gpio21
heater: extruder
heater_temp: 50.0
kick_start_time: 0.5
max_power: 1.0

#####################################################################
#      Filament Sensors
#####################################################################
[filament_switch_sensor extruder_filament_sensor]
pause_on_runout: True
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 3.0
pause_delay: 0.5
debounce_delay: 1.0
switch_pin: SHT36:gpio20

[filament_switch_sensor mmx_filament_sensor]
pause_on_runout: True
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 3.0
pause_delay: 0.5
debounce_delay: 1.0
switch_pin: SHT36:gpio16

#####################################################################
#      TAP && PL08N && BLTOUCH 
#####################################################################
# [stepper_x]
# endstop_pin: ^!SHT36:gpio16

#####################################################################
#      TAP && PL08N && BLTOUCH 
#####################################################################
## https://www.klipper3d.org/Config_Reference.html?h=probe#probe
# [probe]
# pin: ^SHT36:gpio22
# x_offset: 0
# y_offset: 25.0
# z_offset: 0
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 4.0
# samples_tolerance: 0.010
# samples_tolerance_retries: 3
#--------------------------------------------------------------------
## https://www.klipper3d.org/Config_Reference.html?h=probe#bltouch
#[bltouch]
#sensor_pin: ^SHT36:gpio22    # 信号接口
#control_pin: SHT36:gpio24    # 舵机控制
#x_offset: -26.1              # X轴-传感器相对喷嘴偏移量,需要自行确定偏移量
#y_offset: -15.3              # Y轴-传感器相对喷嘴偏移量,需要自行确定偏移量
#z_offset: 2.1                # Z轴-传感器相对喷嘴偏移量,需要自行确定偏移量

#[probe_eddy_current fly_eddy_probe]
#sensor_type: ldc1612
#i2c_address: 43
#i2c_mcu: SHT36
#i2c_bus: i2c1e
#x_offset: 0     #Remember to set x offset
#y_offset: 21.42 #Remember to set y offset 
#descend_z: 2.5  #Remember to set descend_z offset
#i2c_speed: 4000000

#[temperature_probe fly_eddy_probe]
#sensor_type: Generic 3950
#sensor_pin:SHT36:gpio28
#horizontal_move_z: 2.5
